.navbar{
    position: absolute;
    border: 2px solid black;
    display: flex;
    width: 1000px;
    height: 50px;
    gap: 4px;
}
.navbar_logo{
   position: absolute;
   width: 30px;

}
.Search{
    position: absolute;
    width: 40px;
    text-align: center;
}